.answer {
	display: flex;
    padding: 15px 20px;
    border: 1px solid rgba(245, 245, 245, 0.2);
    margin-bottom: 1.5rem;
    font-size: 1.1rem;

	&.correct {
		background-color: rgba(0, 255, 175, 0.4);
		border-color: rgba(0, 255, 175, 0.6);

		&:hover {
			cursor: pointer;
			background-color: rgba(0, 255, 175, 0.6);
			border-color: rgba(0, 255, 175, 0.8);
		}
	}

	&.incorrect {
		background-color: rgba(255, 0, 0, 0.6);
		border-color: rgba(255, 0, 0, 0.8);

		&:hover {
			cursor: pointer;
			background-color: rgba(255, 0, 0, 0.8);
			border-color: rgba(255, 0, 0, 1);
		}
	}

	&.lock {
		background-color: rgba(160, 160, 160, 0.2);
		border-color: rgba(160, 160, 160, 0.4);
		color: #ccc;

		&:hover {
			cursor: default;
			background-color: rgba(160, 160, 160, 0.2);
			border-color: rgba(160, 160, 160, 0.4);
			color: #ccc;
		}
	}

	&:hover {
		cursor: pointer;
		border-color: rgba(245, 245, 245, 0.5);
		background-color: rgba(245, 245, 245, 0.2);
	}
}
